#root {
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #ebeaea;
  padding: 2rem;
  border-radius: 0.4em;

}
h1 {
  font-size: 1em;
  padding: 0.7em 0.5em;
}
form {
  padding: 0.5125em;
  border-radius: 0.4em;
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  width: 15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-field {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
}
input {
  border: none;
  outline: none;
  padding: 0.7em 0.5em;
  border-radius: 0.3em;
  margin: 0.2em 0.5em;
}

span {
  color: red;
  font-size: 0.8em;
  text-align: left;
  padding: 0.3em 0.5em;
  font-weight: 300;
}

button {
  border: none;
  outline: none;
  background-color: rgba(7, 126, 236);
  color: #ffff;
  border-radius: 0.4em;
  padding: 0.7em;
  cursor: pointer;
  margin: 0.5em;
}
button:hover {
  background-color: rgb(67, 126, 236);
}
